---
layout: notes
title: Ricardo's Notes
show_date: false
aside:
  toc: false
sidebar:
  nav: notes-nav
---

This is a collection of Markdown documents with notes about various topics.

{%- if page.sidebar.nav -%}
    {%- assign _sidebar_nav = site.data.navigation[page.sidebar.nav] -%}
    {%- if _sidebar_nav -%}
      {%- for _item in _sidebar_nav -%}
        <h2>{{ _item.title }}</h2>
        {%- if _item.children -%}
        <ul>
          {%- for _child in _item.children -%}
            {%- include snippets/get-nav-url.html path=_child.url -%}
            {%- assign _nav_url = __return -%}
            {%- include snippets/get-nav-url.html path=page.url -%}
            {%- assign _page_url = __return -%}
            {%- if _nav_url == _page_url -%}
              <li class="toc-h2 active"><a href="{{ _nav_url }}">{{ _child.title }}</a></li>
            {%- else -%}
              <li class="toc-h2"><a href="{{ _nav_url }}">{{ _child.title }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </ul>
      {%- endfor -%}
    {%- endif -%}
{%- endif -%}
