{%- if site.comments.vssue.clientID and
	site.comments.vssue.clientSecret and
	site.comments.vssue.repository and
	site.comments.vssue.owner -%}

  {%- include snippets/get-sources.html -%}
  {%- assign _sources = __return -%}
  
  <div id="vssue"></div>
  <script src='{{ _sources.vue }}'></script>
  <script src='{{ _sources.vssue.js }}'></script>
  <script>
    window.Lazyload.css('{{ _sources.vssue.css }}');
    new Vue({
      el: '#vssue',
      render: h => h('Vssue', {
        props: {
            title: '{{ page.title }}',
          options: {
              owner: '{{ site.comments.vssue.owner }}',
              repo: '{{ site.comments.vssue.repository }}',
              clientId: '{{ site.comments.vssue.clientID }}',
              clientSecret: '{{ site.comments.vssue.clientSecret }}',
          },
        }
      })
    })
  </script>

{%- endif -%}
